.btnPrimary {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.btnPrimary:hover,
.btnPrimary:active {
    background-color: #510674;
    border-color: #510674;
}

.btnPrimary.alternative {
    color: #220131;
    border: 1px solid #220131;
    background-color: transparent;
}

.btnPrimary.alternative:hover,
.btnPrimary.alternative:active {
    border: transparent;
    background-color: #ddb3f8;
}